WebServiceClient.Web/Web References/wsCupon/wsCupones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="stConsumirCuponKrispy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sCupon" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stConsumirCuponKrispyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stConsumirCuponKrispyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="stConsumirCuponKrispySoapIn">
    <wsdl:part name="parameters" element="tns:stConsumirCuponKrispy" />
  </wsdl:message>
  <wsdl:message name="stConsumirCuponKrispySoapOut">
    <wsdl:part name="parameters" element="tns:stConsumirCuponKrispyResponse" />
  </wsdl:message>
  <wsdl:portType name="wsCuponesSoap">
    <wsdl:operation name="stConsumirCuponKrispy">
      <wsdl:input message="tns:stConsumirCuponKrispySoapIn" />
      <wsdl:output message="tns:stConsumirCuponKrispySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCuponesSoap" type="tns:wsCuponesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stConsumirCuponKrispy">
      <soap:operation soapAction="http://tempuri.org/stConsumirCuponKrispy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCuponesSoap12" type="tns:wsCuponesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="stConsumirCuponKrispy">
      <soap12:operation soapAction="http://tempuri.org/stConsumirCuponKrispy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCupones">
    <wsdl:port name="wsCuponesSoap" binding="tns:wsCuponesSoap">
      <soap:address location="http://localhost:55084/Services/wsCupones.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCuponesSoap12" binding="tns:wsCuponesSoap12">
      <soap12:address location="http://localhost:55084/Services/wsCupones.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>